.sidebar {
    position: fixed;
    max-width: 0;
    overflow-y: hidden;
    height: 100%;
    background-color: var(--white-color);
    transition: max-width var(--transition-medium);
    box-shadow: var(--shadow-medium);
    z-index: 20;
}

.sidebar--opened {
    max-width: 200px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: var(--spaces-x3);
}