.player {
    height: 9rem;
    left: auto;
    right: auto;
    width: 100%;
    box-shadow: var(--shadow-big);
    display: flex;
    flex-direction: column;

    .card-content {
        position: relative;
    }
}

.player-widget-actions {
    display: flex;
    flex-direction: row; 
    gap: var(--spaces-x4); 
    top: -3.5rem;
    position: absolute;
    right: 0; 
    z-index: 21;
}

.player-queue {
    flex-grow: 1;
    padding: var(--spaces-x8);
    overflow: auto;
}

.player-queue--hidden {
    display: none;
}

.player-container {
    position: fixed;
    bottom: 1.25rem;
    left: var(--spaces-x12);
    right: var(--spaces-x12);
    max-width: 135rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

@media screen and (max-width: 720px) {
    .player-container {
        left: var(--spaces-x0);
        right: var(--spaces-x0);
    }
}

.page:has(+.player-container--expanded) {
    overflow: hidden;
}

.player-container--expanded {
    top: 8.25rem;

    .player {
        height: 100%
    }
}

.player-container--visible {
    pointer-events: auto;
    opacity: 1;
}

.player-content {
    display: flex;
    flex-direction: column;
    gap: var(--spaces-x4);
    height: 100%;
    justify-content: space-between;
    padding: var(--spaces-x6);
}

.player-controls {
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x10);
    justify-content: center;
    align-items: center;
}

.player-buttons {
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x4);
    justify-content: center;
    flex-grow: 1;
}

.player-progress {
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x12);
    width: 100%;
    align-items: center;
}

.player-progress-controller {
    flex-grow: 1;
}

.player-volume {
    flex-basis: 0;
    flex-grow: 1;

    .slider {
        max-width: 8rem;
        margin-left: auto;
    }
}
.player-info {
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer;
}

.player-name {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font: var(--font-h4)
}

.player-artists {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font: var(--font-p1);
}