.footer {
    background-color: var(--primary-600-color);
    padding: var(--spaces-x12) var(--spaces-x2);
    color: var(--secondary-100-color);
    font: var(--font-p1);
    text-align: center;
    margin-top: auto;
}