.textarea {
  display: flex;
  flex-direction: column;
  gap: var(--spaces-x2);

  .textarea-field {
    appearance: none;
    background-color: var(--grey-100-color);
    border: 1px solid rgba(from var(--grey-700-color) r g b / 0.15);
    border-radius: var(--spaces-x3);
    box-shadow: var(--shadow-small);
    color: var(--grey-700-color);
    cursor: pointer;
    display: inline-block;
    font: var(--font-p1);
    list-style: none;
    padding: var(--spaces-x3) var(--spaces-x8);
    position: relative;
    transition: background-color var(--transition-fast);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    resize: vertical;
  }

  .textarea-field:hover {
    background-color: var(--white-color);
    text-decoration: none;
  }

  .textarea-field:disabled {
    background-color: var(--white-color);
    border-color: rgba(from var(--grey-700-color) r g b / 0.15);
    color: var(--grey-500-color);
    cursor: default;
  }

  .textarea-field:active {
    background-color: var(--white-color);
    box-shadow: var(--shadow-medium);
  }

  .textarea-field:focus {
    outline: 1px transparent;
  }

  .textarea-field:before {
    display: none;
  }

  .textarea-field:-webkit-details-marker {
    display: none;
  }
}

.textarea.textarea--error {
  .textarea-field {
    border-color: var(--error-color);
    color: var(--error-color);
  }

  .textarea-sub {
    color: var(--error-color);
  }
}