:root {
    --spaces-x0: 0px;
    --spaces-x1: 2px;
    --spaces-x2: 4px;
    --spaces-x3: 6px;
    --spaces-x4: 8px;
    --spaces-x5: 10px;
    --spaces-x6: 12px;
    --spaces-x7: 14px;
    --spaces-x8: 16px;
    --spaces-x9: 18px;
    --spaces-x10: 20px;
    --spaces-x11: 22px;
    --spaces-x12: 24px;
    --spaces-x13: 26px;
    --spaces-x14: 28px;
    --spaces-x15: 30px;
    --spaces-x16: 32px;
    --spaces-x17: 34px;
    --spaces-x18: 36px;
    --spaces-x19: 38px;
    --spaces-x20: 40px;
}