.card.player {

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .player-progress .progress {
        width: 100%;
    }

    .player-options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .progress {
            width: 120px;
        }
    }
}

.player-controls {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.player-progress {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}