.card.song.song--small {
    .card-header {
    }

    .card-title {
    }

    .card-content {
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: space-between;
        align-items: center;
    }
}

.card.song.song--big {
}