.input {
  display: flex;
  flex-direction: column;
  gap: var(--spaces-x2);

  .input-field {
    appearance: none;
    background-color: var(--grey-100-color);
    border: 1px solid rgba(from var(--grey-700-color) r g b / 0.15);
    border-radius: 6px;
    box-shadow: var(--shadow-small);
    color: var(--grey-700-color);
    cursor: pointer;
    display: inline-block;
    font: var(--font-p1);
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: var(--transition-fast);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }

  .input-field:hover {
    background-color: var(--white-color);
    text-decoration: none;
  }

  .input-field:disabled {
    background-color: var(--white-color);
    border-color: rgba(from var(--grey-700-color) r g b / 0.15);
    color: var(--grey-500-color);
    cursor: default;
  }

  .input-field:active {
    background-color: var(--white-color);
    box-shadow: var(--shadow-medium);
  }

  .input-field:focus {
    outline: 1px transparent;
  }

  .input-field:before {
    display: none;
  }

  .input-field:-webkit-details-marker {
    display: none;
  }
}

.input.input--error {
  .input-field {
    border-color: var(--error-color);
    color: var(--error-color);
  }

  .input-sub {
    color: var(--error-color);
  }
}