.songheader {
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x6);
    align-items: center;
    padding: var(--spaces-x12);

    .songheader-image {
        height: 12.5rem;
        width: 12.5rem;
        object-fit: cover;
        border-radius: 1.25rem;
    }
    .songheader-info {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        flex-grow: 1;
    }
    .songheader-actions {
        display: flex;
        flex-direction: row;
        gap: var(--spaces-x4);
    }
    .songheader-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
            font: var(--font-h3);
        }
    }

    .songheader-meta {
        font: var(--font-h5);
    }
}