.songversionstable {
    max-height: 500px;
    overflow-y: auto;
    grid-template-columns: 5rem 6.25rem 6.25rem 1fr 3.125rem;

    .songversionstable-hr {
        grid-column: span 5;
    }
}

.songversionstable-wrapper-title {
    font: var(--font-h4);
    padding: var(--spaces-x6);
}