.card {
    background-color: var(--white-color);
    border-radius: var(--spaces-x6);

    .card-header {

    }

    .card-title {

    }

    .card-content {
        padding: var(--spaces-x6);
    }
}

.card--clickable {
    transition: background-color var(--transition-fast);
}

.card--clickable:hover {
    background-color: var(--grey-200-color);
}

.card--clickable:is(:focus, :active) {
    background-color: var(--grey-300-color);
}

.card--outlined {
    border: solid 1px var(--grey-700);
}