.page-wrapper {
    padding: var(--spaces-x12);
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 400px) {
    .page-wrapper {
        padding: var(--spaces-x12) var(--spaces-x0);
    }
}