body {
    background-color: var(--grey-100-color);
}

html {
    font-size: 16px;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font: var(--font-p1);
    color: var(--grey-700-color);
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 11px;
    }
}