:root {
    --spaces-x0: 0rem;
    --spaces-x1: 0.125rem;
    --spaces-x2: 0.25rem;
    --spaces-x3: 0.375rem;
    --spaces-x4: 0.5rem;
    --spaces-x5: 0.625rem;
    --spaces-x6: 0.75rem;
    --spaces-x7: 0.875rem;
    --spaces-x8: 1rem;
    --spaces-x9: 1.125rem;
    --spaces-x10: 1.25rem;
    --spaces-x11: 1.375rem;
    --spaces-x12: 1.5rem;
    --spaces-x13: 1.625rem;
    --spaces-x14: 1.75rem;
    --spaces-x15: 1.875rem;
    --spaces-x16: 2rem;
    --spaces-x17: 2.125rem;
    --spaces-x18: 2.25rem;
    --spaces-x19: 2.375rem;
    --spaces-x20: 2.5rem;
}