.author.author-header {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: var(--spaces-x12);

    .author-info {
        display: flex;
        flex-direction: column;
        gap: var(--spaces-x4);
        flex-wrap: 1;
        flex-grow: 1;

        .author-title {
            font: var(--font-h3);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;
        }

        .author-title-edit {
            margin-left: auto;
        }
    }
}