.playlistheader {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: var(--spaces-x12);
}

.playlistheader-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.playlistheader-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}

.playlistheader-title {
    font: var(--font-h3);
}

.playlistheader-actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}