.playlistheader {
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x6);
    align-items: center;
    padding: var(--spaces-x12);
}

.playlistheader-image {
    height: 12.5rem;
    width: 12.5rem;
    object-fit: cover;
    border-radius: 1.25rem;
}

.playlistheader-info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
}

.playlistheader-title {
    font: var(--font-h3);
}

.playlistheader-actions {
    display: flex;
    flex-direction: row;
    gap: var(--spaces-x4);
    flex-wrap: wrap;
}