.song-table {
    grid-template-columns: 1fr 6.875rem 5rem 3.125rem;

    .table-hr {
        grid-column: span 4;
    }

    .song-table-name {
        display: flex;
        align-items: center;
        gap: var(--spaces-x4);
    }
}